@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;700&family=Lato:wght@100&family=Outfit:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;700&family=Lato:wght@100&family=Outfit:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
body {
  font-family: "Roboto Condensed" sans-serif !important;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-dark-gray: #323232;
  --primary-light-gray: #9e9e9e;
  --primary-orange: #ffac41;
  --primary-red: #ff1e56;
  --primary-red-logo: #e3325e;
}

/* ----------------------- NAVBAR ------------------------------  */
.nav {
  z-index: 2;
}

.navbar {
  background: rgba(59, 59, 59, 0.9);
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.logo-container > p {
  text-align: center;
}

.logo-name {
  font-family: "Orbitron", sans-serif;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
  color: var(--primary-white);
}
.logo-slogan {
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-top: -1rem;
  color: var(--primary-red-logo);
}

.logo {
  cursor: pointer;
  display: flex;
  width: 4.25rem;
}

/* Menu Links */

nav a.nav-link {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.55rem;
  margin-right: 0.55rem;
  color: var(--primary-white) !important;
  border-top: 0.01rem solid rgba(0, 0, 0, 0);
  text-align: center;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.01rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.01rem solid var(--primary-orange);

  color: var(--primary-orange) !important;
}
/* ----------------------- HEADER ------------------------------  */

.header-wraper {
  position: relative;
  background: url("./images/headerWallpaper.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  color: var(--primary-white);
  font-weight: 300;
}

.music-player {
  display: flex;
  flex-direction: column;
  position: fixed;
  border: 0.0625rem solid var(--primary-white);
  padding: 0.5rem 1rem;
  left: 88%;
  top: 88%;
  background-color: rgba(87, 87, 87, 0.5);
  z-index: 10;
}

.music-player-btn {
  display: flex;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border: 0.03rem solid var(--primary-white);
}

.music-player-btn:hover {
  border: 0.03rem solid var(--primary-orange);
}
.music-player-btn:hover .music-icon {
  color: var(--primary-orange);
}
.music-player-btn:disabled {
  border: 0.03rem solid var(--primary-orange);
}
.music-player-btn:disabled .music-icon {
  color: var(--primary-orange);
}

.music-player-btn-box {
  display: flex;
  justify-content: space-evenly;
}

.music-icon {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .music-player {
    padding: 0.5rem 1rem;
    left: auto;
    top: 80%;
    background-color: rgba(87, 87, 87, 0.5);
    z-index: 10;
  }
}
/* ----------------------- TYPED TEXT ------------------------------  */

.typed-text {
  font-size: 2rem;
  color: var(--primary-orange);
}

/* ----------------------- HEADER MAIN OFFER BTN ------------------------------  */
.btn-main-offer {
  border: 1px solid var(--primary-red);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  background: var(--primary-red);
  transition: 0.4s ease-in-out;
  color: var(--primary-white);
}

/* ----------------------- ABOUT ME ------------------------------  */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 0.0625rem solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-dark);
  text-transform: uppercase;
  font-weight: 300;
}
.about-p {
  font-size: 1.2rem;
  line-height: 2rem;
}
/* ----------------------- SERVICES ------------------------------  */
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-dark-gray);
}
.services h1 {
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 300;
}

.services .circle {
  position: relative;
  margin: 0.575rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  height: 5.125rem;
  width: 5.125rem;
}

.services .icon {
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-white);
}

.box h3 {
  font-weight: 300;
}

.services .box:hover .icon {
  color: var(--primary-dark);
}
.services .box:hover .circle {
  background: var(--primary-white);
}

/* ----------------------- EXPERIENCE------------------------------  */

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--primary-dark);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-dark-gray);
  z-index: 1;
}

.timeline-content p {
  color: var(--primary-dark-gray);
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
  text-align: right;
}
.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-orange);
  background: var(--primary-black);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-gray);
  direction: ltr;
}
.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 300;
}
/* ----------------------- PORTFOLIO ------------------------------  */

.portfolio-wrapper {
  background: var(--primary-dark-gray);
  padding: 2rem 0;
}

.portfolio-image-box {
  background: var(--primary-white);
  height: 20rem;
  width: 15rem;
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem;
  z-index: 3;
  padding: 0 0.5rem;
}

.image-box-wrapper {
  width: 100% !important;
}

.portfolio-image-box > h4 {
  color: var(--primary-dark-gray);
  font-weight: 300;
  border-bottom: 0.0165rem solid var(--primary-dark-gray);
}

.portfolio-title {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.portfolio-image {
  background-color: var(--primary-white);
  width: 14rem;
  height: 9rem;
  border: 0.0625rem solid var(--primary-dark-gray);
  padding: 0.3rem;
  margin-top: 1rem;
}

.portfolio-wrapper h1 {
  font-weight: 300;
  color: var(--primary-orange);
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 20rem;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  border: 0.0625rem solid var(--primary-black);
  cursor: pointer;
  z-index: 3;
}
.portfolio-image-box:hover .overflow {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: 5rem;
  margin-top: -8rem;
  color: var(--primary-orange);
  font-size: 4rem;
  z-index: 3;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.tech-icon {
  margin-top: 0.5rem;
  width: 2rem;
}

/* ----------------------- MEDIA DISPLAY ------------------------------  */

.overlay {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 5;
}
.modal-container {
  border: 0.0625rem solid var(--primary-dark);
  background: var(--primary-white);
  width: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.modal-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--primary-gray);
  color: var(--primary-dark);
  padding-left: 1.5rem;
}

.modal-title h3 {
  font-weight: 300;
  padding: 0 1rem;
}

.modal-title > button {
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-gray);
  padding: 0 1rem;
}
.modal-title > button:hover {
  color: var(--primary-orange);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-body img {
  border: 0.0625rem solid var(--primary-black);
}

.modal-body > p {
  color: var(--primary-black);
}

.portfolio-image-modal {
  width: 45rem;
}

/* ----------------------- TESTIMONIALS ------------------------------  */

.testimonials {
  background-image: url("./images/testimonialsBg.jpg");
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  color: var(--primary-black);

  text-transform: uppercase;
  font-weight: 300;
}

.testimonial-container {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: rgba(0, 0, 0, 0.9);
}
.my-carousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  /* height: 22.875rem; */
  height: fit-content;
}

.my-carousel h3 {
  color: var(--primary-orange);
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2rem;
}

.my-carousel p {
  color: var(--primary-white);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100%;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/* ----------------------- CONTACT ------------------------------  */

.contact {
  background: var(--primary-dark-gray);
  pad: 3rem 0;
}

.contact h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  font-weight: 300;
  text-transform: uppercase;
}
.contact p {
  color: var(--primary-white);
  font-size: 1.2rem;
}

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0 !important;
  border-bottom: 0.105rem solid var(--primary-light-gray) !important;
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-light-gray);
}

.contact textarea {
  height: 16.5rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  color: var(--primary-white);
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

.input-fields {
  height: 5rem;
}

.area-fields {
  height: 20rem;
}
input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: 0.5s ease-in-out;
}
input.form-control {
  margin: -0.3rem 0;
}
textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--primary-red);
}

.error-icon {
  font-size: 1.5rem;
  color: var(--primary-red);
  margin-right: 0.5rem;
}
/* ----------------------- FORM AUTOFILL ------------------------------  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-dark-gray) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  transition: color 5000s ease-in-out 0s;
}
/* ----------------------- FORM AUTOFILL ------------------------------  */

/* ----------------------- FOOTER ------------------------------  */
.footer {
  background: var(--primary-black);
  color: var(--primary-light-gray);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-light-gray);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}

/* ----------------------- MEDIA DISPLAY ------------------------------  */

@media (max-width: 768px) {
  .main-info > h1 {
    font-size: 2.2rem !important;
  }
  .typed-text {
    font-size: 1.8rem;
  }
  .navbar-brand {
    width: 7rem;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
    text-align: left;
  }
  .experience-wrapper .container {
    padding-left: 0;
  }
  .modal-container {
    width: 100%;
  }
  .portfolio-image-modal {
    width: 100%;
  }
  .overlay {
    opacity: 0.8;
  }

  .contact {
    overflow-x: hidden;
  }
  .contact .container {
    padding: 0 1rem;
  }
  .contact p {
    padding: 0 1rem;
  }
}
@media (max-width: 920px) {
  .modal-container {
    width: 90%;
  }
  .portfolio-image-modal {
    width: 90%;
  }
  .overlay {
    opacity: 0.8;
  }
}
@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
@media (max-width: 992px) {
  .navbar-nav > li > a {
    border: none;
  }
  .navbar-nav > li > a:hover {
    border: none;
  }
}

@media (max-width: 400px) {
  .modal-container {
    width: 100%;
  }
  .portfolio-image-modal {
    width: 100%;
  }
  .overlay {
    opacity: 0.8;
  }
}
